<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibble" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js">
    <title>Felice Stein Psicóloga Clínica</title>
</head>
<body>
    <nav>
        <div class="container">
            <div>
                <header class="mb-30">
                    <i class="bi-person-lines-fill logotipo"></i>
                    <a href="#Tiktok" class="btn-contorno">Tiktok</a>
                </header>
            </div>
        </div>
    </nav>
</body>
</html>