<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatibble" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="exemplo02.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />

    <title>Felice Stein Psicóloga Clínica</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="">
          <img src="/UX-UI/Modelos/Imagens/Logo/Logo Navbar removed.png" width="216px" alt="" />
        </a>
        <a class="nav-item toolbar" href="">Sobre</a>
        <a class="toolbar" href="">Agendamento</a>
        <a class="toolbar" href="">Seção Interativa</a>
        <a class="toolbar" href="">Contato</a>
      </div>
    </nav>

    <main>
      <div class="background-container">
        <div class="content mb-5 mt-5 me-5 ms-5">
          <h1>Felice Stein</h1>
          <h1>Psicóloga Clínica</h1>
          <div class="row">
            <div class="col-6">
              <p>
                Do duis nostrud deserunt aute veniam excepteur elit ea nulla deserunt labore sit. Culpa consectetur
                culpa dolor laboris et. Dolore minim in ullamco quis quis culpa. Ex minim Lorem voluptate aliquip in et
                consequat eu. Enim sunt mollit laboris nostrud officia deserunt nostrud.
              </p>
            </div>
            <div class="col-4 ps-5 pb-5">
              <img src="/UX-UI/Modelos/Imagens/WhatsApp_Image_2024-05-23_at_17.58.53-removebg-preview.png" alt="" />
            </div>
          </div>
          <div class="buttons">
            <button class="btn btn-primary">Contact Us</button>
            <button class="btn btn-secondary">Our Services</button>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>

    <script src="/node_modules//bootstrap/dist/js/bootstrap.bundle.js"></script>
  </body>
</html>
